<!DOCTYPE html>
<html>
<head>
    <title>Dreamplan AI</title>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>  
</head>
<body>
    <img src="/static/logo.png" alt="Dreamplan"></img>
    <div id="chat"></div>
    <form id="chat-form" autocomplete="off">
        <input type="text" id="message" placeholder="Say something..." required />
        <button type="submit">Send</button>
    </form>

    <script src="/static/script.js"></script>
</body>
</html>
