<!DOCTYPE html>
<html>
<head>
    <title>Dreamplan AI</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>  
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <img src="/static/logo.png" alt="Dreamplan"></img>
    <h2 class="intro">Welcome to Dreamplan AI. To get started, please share your age, salary, housing and pension information or ask a question.</h2>
    <div id="chat"></div>
    <form id="chat-form" autocomplete="off">
        <input type="text" id="message" placeholder="Say something..." required />
        <button type="submit">Send</button>
        <button id="end-chat" type="button">End Chat</button>
    </form>

    <script src="/static/script.js"></script>
</body>
</html>
